@font-face{
	font-family: Proxima-nova;
	src: url(http://static1.squarespace.com/static/sitecss/56ad0abb76d99cc5518b51ea/54/507c1fdf84ae362b5e7be44e/56afdd391d07c0ec9411ca7b/2101-05142015/1455929538938/site.css?&filterFeatures=false);
}
body{
	background-color: #fff;
	font-family: Proxima-nova;
}
.title_header{
	text-align: left;
	font-size: 4em;
}
.bottom{
	background-color:#42ca9a;
	text-align: center;
	width:100%;
	padding: 25px;
	margin-top: 10px;
	font-size: 1.5em;
}
.top{
	/*background-color:#ef755e;*/
	float:left;
	text-align: center;
	padding: 10px;
}
a{
	/*color: #fff;*/
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	margin: 0px 50px 0px 0px;
}
