@font-face{
	font-family: 'AaarghNormal'; 
   	font-weight: normal; 
   	font-style: normal; 
}

.dark{
	background-color: #000 !important;
	-webkit-transition:background-color 1s ease-in; 
	-moz-transition:background-color 1s ease-in; 
	-o-transition:background-color 1s ease-in; 
	transition:background-color 1s ease-in;
	font-family: 'AaarghNormal';
	height: 100%;
}
.light{
	background-color: #fff !important;
	-webkit-transition:background-color 1s ease-in; 
	-moz-transition:background-color 1s ease-in; 
	-o-transition:background-color 1s ease-in; 
	transition:background-color 1s ease-in;
	font-family: 'AaarghNormal';
	height: 100%;
	color: #000;
}
.container{
	/*background-color: #ccc;*/
	/*opacity:.3;*/
	margin-top:250px;	
	height: 1000px;
	width: 1100px;
}
p{
	color:#ccc;
	font-size: 18px;
}
.title-header{
	text-align: left;
	float:left;
	font-size: 5em;
	margin-left: 25px;
}
header{
	position: fixed;
	top:0px;
	width:100%;
	padding-top: 50px;
	z-index:10;
}
.top{
	opacity: 0.5;
	float:left;
	padding: 10px;
	margin: 55px 0px 0px 25px;
}

 a:active, a:visited, a:focus{
	color: #ddd ;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none ;
}
nav a{
	color: #ddd;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	margin: 0px 50px 0px 0px;
	font-size: 16px;
}
h1 a{
	color: #555 !important;
}
a:hover{
	color: hotpink !important;
	text-decoration: none;
}
.hidden{
	display:none;
}
.about, .portfolio{
	font-size: 8em;
	position:fixed;
	bottom:0px;
	right:25px;
	margin: 0;
	padding: 0;
}
.about:hover{
	color:limegreen;
}
.portfolio:hover{
	color:turquoise;
}
.reveal-animation {
  position:absolute;
  width:1100px;
}

