@font-face{
	font-family: 'AaarghNormal'; 
   	font-weight: normal; 
   	font-style: normal; 
}
@font-face{
	font-family: 'Swanky and Moo Moo', cursive;
	font-weight: normal; 
   	font-style: normal; 
}
@font-face{
	font-family: 'Cardo', serif;
	font-weight: normal; 
   	font-style: normal; 
}
@font-face{
	font-family: 'Average', serif;
	font-weight: normal; 
   	font-style: normal; 
}
@font-face{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}


body{
	font-family: 'Roboto';
	font-size: 16px;
	background-color: #fff !important;
	background-image: url("../images/bludomain_01.jpg");
	background-attachment: fixed;
	-webkit-transition:background-color 1s ease-in; 
	-moz-transition:background-color 1s ease-in; 
	-o-transition:background-color 1s ease-in; 
	transition:background-color 1s ease-in;
	height: 100%;
}
.container{
	background-color: #fff;
	opacity:.9;	
	height: 1000px;
	width: 1100px;
}

.title-header{
	font-family: 'Swanky and Moo Moo';
	text-align: left;
	float:left;
	font-size: 7em;
	margin-left: 25px;
	color: #337ab7 !important;
}
header{
	/*position: fixed;*/
	top:0px;
	width:100%;
	padding-top: 50px;
	z-index:10;
}
.top{
	/*opacity: 0.5;*/
	float:left;
	margin-left: 35px;
}

 a:active, a:visited, a:focus{
	font-weight: bold;
	cursor: pointer;
	text-decoration: none ;
}
nav a{
	font-family: 'Swanky and Moo Moo';
	font-weight: bold;
	float: left;
	cursor: pointer;
	text-decoration: none;
	margin: 75px 50px 0px 0px;
	font-size: 22px;
}

a:hover{
	color: #a41a31 !important;
	text-decoration: none;
}
.hidden{
	display:none;
}
.about, .portfolio{
	font-size: 8em;
	position:fixed;
	bottom:0px;
	right:25px;
	margin: 0;
	padding: 0;
}
.about:hover{
	color:limegreen;
}
.portfolio:hover{
	color:turquoise;
}
.reveal-animation {
  position:absolute;
  width:870px;
}
#bg{
	margin: 250px 100px 0px 100px;
}
#Team3{
	position: absolute;
	left: 600px;
	top: 50px;
	height: 100px;
}


