body{
	background-color: #fff;
}
nav{
	background-color:#42ca9a;
	text-align: center;
	width:100%;
	padding: 25px;
}
a{
	color: #fff;
	font-family: Georgia, serif;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}