body{
	background-color: #fff;
}
nav{
	background-color:#42ca9a;
	text-align: center;
	width:100%;
	height: 100px;
}
a{
	color: #fff;
	font-family: Georgia, serif;
	cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
}