body{
	background-color: #fff;
	font-family: Georgia, serif;
}
.title_header{
	text-align: center;
	font-size: 4em;
}
nav{
	background-color:#42ca9a;
	text-align: center;
	width:100%;
	padding: 25px;
}
nav .top{
	background-color:#913035;
	text-align: center;
	width:100%;
	padding: 10px;
}
a{
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	margin: 0px 50px 0px 0px;
}