<p><strong>Name:</strong> Angel Elyse Dixon</p>
<p><strong>Height:</strong> Tall enough</p>
<p><strong>Weight:</strong> I can carry the weight of the world so…</p>
<p><strong>Hair color:</strong> Whatever I’m feeling</p>

<p><strong>Education:</strong> Bachelor's of Science in Computational Media from the Georgia Institute of Technology</p>

<p><strong>Interests:</strong> While my more personal interests include film, narrative, and animation, I am open to experiencing other branches of my field such as UI/UX Design, game development, marketing, and web development.</p>

<p><strong>Current Occupation:</strong> Basking in cubicle life as a Software Engineer</p>

<p><strong>Other:</strong> I am currently hooked on Korean dramas, food and culture. Check out my “Jinjja?!” page.
</p>
<img src="../images/Team 3.jpg" id="Team3">
<!-- <div class="about">about</div> -->

	
