
<p>Lost of fantastic, awesome stuff will be coming soon, just hold your horses playa...</p>
<div class="row">
	<div ng-repeat="item in projects track by $index">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="../images/bludomain_01.jpg" alt="Placeholder">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>Short description.</p>
	        <p>
	        <a href="#" class="btn " role="button">View</a></p>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<!-- <div class="portfolio">projects</div> -->

