<ol class="breadcrumb" ng-show="showOne">
  <li><a href="#">Portfolio</a></li>
  <li class="active">{{item.name}}</li>
</ol>
<div class="row" ng-show="showThumbs">
	<div ng-repeat="item in projects track by $index">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail hovereffect">
				<img class="img-responsive" ng-src="{{item.cover}}" alt="Placeholder">
				<div class="caption">
					<h3>{{item.name}}</h3>
					<p>{{item.date}}</p>
					<div class="overlay">
						<p>{{item.short}}</p>
						<a class="info btn" href="portfolioPiece" ng-click="selectProject($index)">View</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="portfolio">projects</div> -->
